<% if product.status == 'active' %>
  <span class="label label-success"><%= 'product.status.active' %></span>
<% elsif product.status == 'retired' %>
  <span class="label"><%= 'Retired' %></span>
<% end %>
