<% cache("root_page") do %>

<div class="span11">

  <h2>Featured Stores</h2>

  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>

  <% @stores.each do |store| %>
    <tr>
      <td><%= link_to store.name, store_home_path(store) %></td>
      <td><%= store.description %></td>
    </tr>
  <% end %>
  </table>

</div>

<% end %> <!-- end of caching block -->
