<ul class="nav nav-pills">
<% if active_tab == 'all' %>
<li class="active">
<% else %>
<li>
<% end %>
<%= link_to "All #{@orders.count} orders", store_admin_orders_path(current_store) %>
</li>
<% %w(pending cancelled paid shipped returned).each do |status| %>
  <% if active_tab == status %>
  <li class="active">
  <% else %>
  <li>
  <% end %>
  <%= link_to status_count(status), store_admin_orders_path(current_store, status: status) %>
  </li>
<% end %>
</ul>
