<div class="span3">
  <ul class="nav nav-list">
    <li class="nav-header"><%= current_user %>'s Account</li>


    <li class="<%= active == :stores ? 'active' : '' %>">
      <a href="#manage_stores" data-toggle="tab">
        Manage Stores
      </a>
    </li>
    <li class="<%= active == :personal_info ? 'active' : '' %>">
      <a href="#edit_account" data-toggle="tab">
        Edit Account
      </a>
    </li>
    <li class="<%= active == :orders ? 'active' : '' %>">
      <a href="#order_history" data-toggle="tab">
        Order History
      </a>
    </li>
  </ul>
</div>