<div class='user-index'>
    <%= render partial: 'shared/admin_navigation', :locals => { active: :stores } %>
    
  <div class = "span8">
    <h2>Editing <%= @store %></h2>
    <%= render 'form' %>
  </div>
</div>