<div class="admin-order-show">

  <div class="span11">
    <div class="pull-right">
      <%= button_to "Manage My Stores", profile_path, method: :get, class: 'btn btn-custom-lighten' %>

      <%= button_to "Manage Flagged Comments", admin_product_reviews_path, method: :get, class: 'btn btn-custom-lighten' %>
    </div>

    <h2>Platform Administration for All Stores</h2>
    <hr>
    <h3>Pending Stores</h3>

    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>URL ID</th>
        <th>Description</th>
        <th>Approval Status</th>
      </thead>

      <tbody>
      <% @pending_stores.each do |store| %>
        <%= render partial: 'pending_store', locals: { store: store } %>
      <% end %>

      </tbody>

      <tfoot>
      </tfoot>

    </table>

  </div>

  <div class="span11">
    <h3>Approved Stores</h3>

    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>URL ID</th>
        <th>Description</th>
        <th>Active Status</th>
        <th>Admin Page</th>
      </thead>

      <tbody>
      <% @approved_stores.each do |store| %>
        <%= render partial: 'approved_store', locals: { store: store } %>
      <% end %>
      </tbody>

      <tfoot>
      </tfoot>

    </table>

  </div>




</div>
