<div class="admin-order-show">
  <%#= render partial: 'shared/admin_navigation', locals: { active: false } %>

  <div class="span11">
    <h2>Platform Administration for All Stores</h2>
    <h3>Pending Stores</h3>

    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>URL ID</th>
        <th>Description</th>
        <th>Approval Status</th>
      </thead>

      <tbody>
      <% @pending_stores.each do |store| %>
       <%= render partial: 'pending_store', locals: { store: store } %>
      <% end %>

      </tbody>

      <tfoot>
      </tfoot>

    </table>

  </div>

  <div class="span11">
    <h3>Approved Stores</h3>

    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>URL ID</th>
        <th>Description</th>
        <th>Active Status</th>
        <th>Admin</th>
      </thead>

      <tbody>
      <% @approved_stores.each do |store| %>
        <%= render partial: 'approved_store', locals: { store: store } %>
      <% end %>
      </tbody>

      <tfoot>
      </tfoot>

    </table>

  </div>




</div>
