<tr>
  <td><%= link_to "#{t('order.self')} ##{order.id}", customer_orders_path(order) %></td>
  <td><%= order.status %></td>
  <td><%= order.created_at.to_s(:short) %></td>
  <td><%= number_to_currency(order.total) %></td>
</tr>
