<tr>
  <td><%= link_to order_item.title, store_product_path(order_item.product.store, order_item.product) %></td>
  <td><%= order_item.quantity %></td>
  <td><%= number_to_currency(order_item.unit_price) %></td>
  <td><%= number_to_currency(order_item.subtotal) %></td>
</tr>
