Hi there,
<br>
<br>
You have been asked to sign up as a stocker for Ballmerino's by <%= @store %>.  Join us today by signing up <a href='http://pink-sose.herokuapp.com/signup'>here!</a>
<br>
<br>
Cheers,
<br>
Ballmerino's
