Heya <%= @user.customer.full_name.titleize %>,
<br>
<br>
You have been confirmed as an administrator of <a href='http://pink-sose.herokuapp.com/<%=@store.path%>/admin'><%=@store%></a>.  Let us know if we can help with anything at all.
<br>
Cheers,
<br>
Ballmer's D.O.S.E.
