Heya <%= @user.customer.full_name.titleize %>,
<br>
<br>
You have been confirmed as a stocker for <a href='http://pink-sose.herokuapp.com/<%=@store.path%>/admin'><%=@store%></a>.  Let us know if we can help with anything at all.
<br>
<br>
Cheers,
<br>
Ballmerino's
