#categories h3 {
  text-align: center;
}

#categories ul {
  margin: 0;
  padding: 0;
}

#categories ul li {
  margin: 0;
  padding: 5px 0;
  list-style: none;
  text-align: center;
  font-size: 1.2em;
}
