// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#signup, #shipping_info_page, #billing_info_page, #credit_card_info_page {
  margin: 30px;
}

.user-index {
  margin: 30px;
  height: 150px;
}

.rating-index {
  margin: 30px;
}

.rating-edit {
  margin: 30px;
}
table.shipping {
  text-align: right;
}
table.shipping td {
  padding-left: 10px;
  text-align: left;
}

