<h4>Enter the e-mail address of the admin you would like to add</h4>

<%= simple_form_for [@store, :admin, @user], html: {multipart: true} do |f| %>
  <%= f.fields_for :customers do |builder| %>
    <%= builder.input :email %>
  <% end %>
    <%= f.button :submit, t('submit') %>
<% end %>
