<div id="product-reviews" class="span7">
  <div class="review row">

    <div class="reivew-meta-data span12">
      Reviewed By: <span class="reviewer">Sir CatNap</span> on <span clas="review-date">January 27, 2012</span>
    </div>
    <div class="review-comment span7">
      Everything was perfect about this Cute Kitten EXCEPT that it wasn't a kitten! It was an E-kitten! I was very disappointed. Don't think I'll buy this again!
    </div>
    <%= render partial: "rating_table" %>
  </div>
</div> <!-- product-reviews -->
