<div id="product-reviews" class="span7">
  <div class="review row">

    <div class="reivew-meta-data span12">
      Reviewed By: <span class="reviewer">Sir CatNap</span> on <span clas="review-date">January 27, 2012</span>
    </div>
    <div class="review-comment span7">
      Everything was perfect about this Cute Kitten EXCEPT that it wasn't a kitten! It was an E-kitten! I was very disappointed. Don't think I'll buy this again!
    </div>

    <table class="product-rating span4">
      <thead>
        <tr>
          <th>Criteria</th>
          <th>Average Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="criteria">Packaging</td>
          <td>4</td>
        </tr>
        <tr>
          <td class="criteria">Durability</td>
          <td>5</td>
        </tr>
        <tr>
          <td class="criteria">Value</td>
          <td>1</td>
        </tr>
        <tr>
          <td class="criteria">Description Accuracy</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> <!-- product-reviews -->
