<table class="product-rating">
  <thead>
    <tr>
      <th>Criteria</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="criteria">Packaging</td>
      <td>5</td>
    </tr>
    <tr>
      <td class="criteria">Durability</td>
      <td>4</td>
    </tr>
    <tr>
      <td class="criteria">Value</td>
      <td>1</td>
    </tr>
    <tr>
      <td class="criteria">Description Accuracy</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
