<div class="product-index">
  <section class="row">
      <div class="btn-group span1" id="homepage-category-dropdown">
        <a class="btn btn-custom-lighten dropdown-toggle" data-toggle="dropdown" href="#">
          <%= t 'categories.select' %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/">Show All</a></li>
          <% unless @categories.nil? %>
              <% @categories.each do |category| %>
                  <li>
                    <%=link_to category.title, store_category_path(current_store, category.id) %>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </div>
  </section>

  <br/>

  <div id="product_listing" class="row-fluid">
    <%= render @products %>
  </div>
</div>

