<div class="product-index">
  <div class="pull-right">
    <%= button_to "Browse by category", store_categories_path(current_store),
        class: 'btn btn-custom-lighten', method: :get %>
  </div>

  <div class="store-information">
    <h2><%= current_store %></h2>
    <span><%= current_store.description %></span><br />
  </div>

  <div id="product_listing" class="row-fluid">
    <% @products.each do |product| %>
      <%= render partial: 'product',
          locals: { store: current_store, product: product }  %>
      <% end %>
  </div>

</div>

