<div class="store-information">
  <h2><%= current_store %></h2>
  <span><%= current_store.description %></span>
</div>


<div class="product-index">

  <section class="row">
        <%= button_to "Browse by category", store_categories_path(current_store), method: :get %>
      </div>
  </section>

  <br/>

  <div id="product_listing" class="row-fluid">
    <%= render @products %>
  </div>
</div>

